<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MUSIC WITH PRINCE</title>
</head>
<body class="p-5"  style="background-image:url('https://www.w3schools.com/bootstrap/ny.jpg');background-repeat:no-repeat; background-size: cover;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
          <li>
            <!-- Button trigger modal -->
         <a class="btn btn-primary" href="/upload/">Upload song </a>

          </li>
        </ul>
      </div>
    </div>
  </nav>
  <center><h2 style = "padding-left: 8%; padding-top: 2%; font-family: 'Verdana';">Trending songs</h2></center>
  <div class="row" style="padding-top: 2%; padding-left: 7%;">
    {%for i in song %}
    <div class="col-3 p-5" style = "padding-left: 2%; padding-bottom: 3%;">
    <div class="card" style="width: 18rem; ">
      <img src="/media/{{i.image}}" class="card-img-top" height="150px" alt="..." >
      <div class="card-body">
        <h5 class="card-title">{{i.name}}</h5>
        <a href="/songs/{{i.song_id}}" class="btn btn-outline-secondary">Listen Song</a>
      </div>
    </div>
    </div>
    
    {%endfor%}
    </div>
      
     


  
</body>
</html>




























      
    
